#object_input{
    width: 40%;
}
.heading{
    width: 70%;
    font-size: 22px !important;
}
footer{
    position: fixed;
    bottom: 0;
    line-height: 2.5;
    color: white;
    background-color: gray;
    text-align: center;
    width: 85%;
    border-radius: 10.6px;
    margin-left: 100px;
    margin-bottom: 11px;
}
canvas{
    margin-top: 80px;
    border-radius: 20px;
    border: 2px black;
}